.button {
  cursor: pointer;
  padding: 12px 30px;
  border: none;
  border-radius:50px;
  transition-duration: 0.4s;
  display: flex;
  align-items: center;
  gap: 10px;

  > svg {
    height: 20px;
    width: 20px;
  }
}