.page {
  width: 100%;
}

.title {
  color: var(--color-light);
  margin: 5px 0 20px;
}

.addIcon {
  height: 50%;
  fill: var(--color-dark);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  > svg {
    height: 20px;
    fill: var(--color-dark);
    cursor: pointer;
  }
}

.addButton {
  position: relative;
  left: calc(50% - 25px);
  background: var(--color-primary);
  border-radius: 0 0 50px 50px;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    left: -25px;
    top: 0;
    background: radial-gradient(circle at 0 100%, transparent 25px, var(--color-primary) 21px);
  }

  &::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -25px;
    top: 0;
    background: #000;
    background: radial-gradient(circle at 100% 100%, transparent 25px, var(--color-primary) 21px);
  }
}

.modal {
  width: 700px;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  text-align: center;
}