.page {
  width: 100%;
  display: flex
}

.container {
  min-width: 50%;
  min-height: 100%;
}

.title {
  color: var(--color-light);
  margin: 5px 0 20px;
}

.modal {
  width: 700px;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  text-align: center;
}

.message {
  color: var(--color-light);
  margin: 5px 0 20px 10px;
}