$breakpoint-ultrawide: 4096px;
$breakpoint-1440p: 2560px;
$breakpoint-1080p: 1920px;
$breakpoint-900p: 1440px;
$breakpoint-720p: 1280px;
$breakpoint-large: 1024px;
$breakpoint-medium: 768px;
$breakpoint-small: 600px;
$breakpoint-smallest: 350px;
$max-content-width: 1680px;