@import "./breakpoints.module";

.inputWithButtons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.inlineIconButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  > svg {
    height: 15px;
    fill: var(--color-dark);
    cursor: pointer;
  }
}

.error {
  border-color: red !important;
}

.checkboxContainer {
  margin: 20px 0;
    display: flex;
    justify-content: center;
    align-content: start;
    gap: 20px;
}

.checkbox {
  align-self: flex-start;
}


.footerButtons {
  margin: auto 0 0;
  display: flex;
  flex-direction: row;
  width: 100%;

  > svg {
    height: 30px;
    fill: var(--color-dark);
    cursor: pointer;
  }
}