@import "./breakpoints.module";

.inputWithButtons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.inlineIconButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  > svg {
    height: 15px;
    fill: var(--color-dark);
    cursor: pointer;
  }
}

.error {
  border-color: red !important;
}