.circle1 {
  border: 5px solid var(--color-light);
  border-radius: 50%;
  box-shadow: 20px 0.375em 0 0 rgba(15, 28, 63, 0.125);
  height: 240px;
  width: 240px;
}

.circle2 {
  margin-top: -240px;
  margin-left: 20px;
  border: 15px solid var(--color-light);
  border-radius: 50%;
  box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
  height: 220px;
  width: 220px;
}