@mixin logo {
  fill: var(--color-light);
}

.companyLogo {
  @include logo;
  width: 50px;
}

.logout {
  @include logo;
  width: 20px;
  cursor: pointer;
}

.header {
  padding: 0 30px;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  color: var(--color-light);
}

.title {
  display: flex;
  gap: 15px;
  cursor: default;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;

  > div {
    cursor: pointer;
  }
}

.active {
  color: var(--color-secondary);
}