.titleContainer {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: space-between;
  align-items: center;

  > svg {
    height: 20px;
    cursor: pointer;
  }
}

.title {
  text-align: left;

  > h3 {
    margin: 0 0 10px;
    font-size: 1.2em;
  }
}

.questionCount {
  font-weight: bold;
  align-self: flex-start;
}

.userAnswers {
  text-align: left;

  > :first-child {
    display: inline-flex;
    gap: 20px;
    align-items: center;
    font-style: italic;
  }

  > :last-child {
    font-size: 1.3em;
    padding: 10px 0 20px 30px;
    text-decoration: underline;

  }
}