.page {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--color-light);
  gap: 20px;
}

.logo {
  fill: var(--color-light);
  width: 250px;
}

.buttonContainer {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
}