.app {
  min-height: 100%;
  text-align: center;
  background: linear-gradient(90deg, var(--linear-left), var(--linear-right));
  color: var(--color-background);
  display: flex;
  justify-content: center;
  align-items: center;
}